@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

body {
    background: url(/Resources/bg.webp) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
} */

/* .wrapper {
  position: relative;
  margin-left: 30vw;
  --padding: 30px;
  padding: var(--padding);
  padding-top: calc(48px + env(safe-area-inset-top, 0));
  padding-bottom: calc(var(--padding) + env(safe-area-inset-bottom));
  min-height: 100%;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: white;
  -webkit-user-select: none;
  backdrop-filter: blur(16px) brightness(0.5);
} */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  overflow: clip;
}

.skystats-img {
  border-radius: 10px;
  width: 4%;
}

.info-button {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-transform: uppercase;
  box-sizing: unset;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 9999px;
  line-height: normal;
  transition: background-color .1s;
  border: none;
}

.info-button {
  cursor: pointer;
  background-color: rgba(216, 198, 198, 0.7);
}

.blur-box {
  position: relative;
  margin-left: 30vw;
  height: 750px;
  --padding: 30px;
  padding: var(--padding);
  padding-top: calc(48px + env(safe-area-inset-top, 0));
  padding-bottom: calc(var(--padding) + env(safe-area-inset-bottom));
  box-sizing: border-box;
  user-select: none;
  backdrop-filter: blur(16px) brightness(0.5);
}

.text-stats-for {
  font-size: 36px;
  user-select: none;
  color: white;
}

.stats_for_player {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 600;
  cursor: context-menu;
  background-color: rgba(127, 127, 127, .2);
  border-radius: 100px;
  padding: 0 15px;
  height: 54px;
  line-height: 54px;
  bottom: 4px;
  vertical-align: middle;
  font-size: 30px;
}

.text-on {
  font-size: 36px;
  user-select: none;
  color: white;
}

.text-skysim {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 600;
  cursor: context-menu;
  background-color: rgba(127, 127, 127, .2);
  border-radius: 100px;
  padding: 0 15px;
  height: 54px;
  line-height: 54px;
  bottom: 4px;
  vertical-align: middle;
  font-size: 30px;
}

.player-hyauction {
  appearance: none;
  position: relative;
  padding: 0px 12px;
  border: none;
  margin-right: 7px;
  margin-top: 15px;
  height: 29px;
  line-height: 29px;
  box-sizing: border-box;
  background-color: rgba(11, 202, 81, 0.9);
  display: inline-block;
  border-radius: 99999px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: background-color .1s;
  vertical-align: top;
  text-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
}

.player-hyauction:hover {
  color: #fff;
}

.player-plancke {
  appearance: none;
  position: relative;
  padding: 0px 12px;
  border: none;
  margin-right: 7px;
  margin-top: 15px;
  height: 29px;
  line-height: 29px;
  box-sizing: border-box;
  background-color: rgba(11, 202, 81, 0.9);
  display: inline-block;
  border-radius: 99999px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: background-color .1s;
  vertical-align: top;
  text-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
}

.player-plancke:hover {
  color: #fff;
}

/*Skill Section*/

.skills {
  display: grid;
  gap: 24px;
  padding: 30px;
  margin-left: calc(-1*30px);
  margin-right: calc(-1*30px);
  background-color: rgba(0, 0, 0, 0.3);
}

/*Combat Section*/

.skill-icon-combat {
  height: 40px;
  width: 40px;
  background-color: var(--skill_color);
  position: relative;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 10;
}

.combat-sword {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 7px;
  left: 7px;
  transform: scale(0.2);
  transform-origin: top left;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.skill-name-combat {
  position: relative;
  left: 46px;
  color: white;
  bottom: 39px;
  font-weight: 500;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
}

.skill-level-combat {
  color: #dbd7cd;
  user-select: text !important;
}

.skill-progress-bar-grey-combat {
  width: var(--width_bar);
  position: relative;
  height: 14px;
  left: var(--left_side_bar);
  bottom: /* 63.5px */36px;
  background: rgba(127,127,127,0.6);
  border-radius: 100px;
}

.skill-progress-bar-combat {
  width: var(--progress);
  position: relative;
  height: 14px;
  left: 22.5px;
  bottom: /*35.4px*/50px;
  background: var(--progress_bar_color);
  border-radius: 100px;
}

.skill-progress-text-combat {
  position: relative;
  left: calc(var(--left_side) - var(--min-text));
  bottom: 64px; /*14px*/
  color: white;
  font-weight: 600;
  width: 15%;
  font-size: 12px;
  line-height: 14px;
  text-shadow: 0px 0px 3px rgba(var(--background-rgb), 0.5);
}

/*Mining Section*/
.skill-icon-mining {
  height: 40px;
  width: 40px;
  background-color: var(--skill_color);
  position: relative;
  bottom: 80px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 10;
}

.mining-sword {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 7px;
  bottom: 80px;
  left: 7px;
  transform: scale(0.2);
  transform-origin: top left;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.skill-name-mining {
  position: relative;
  left: 46px;
  color: white;
  bottom: 119px;
  font-weight: 500;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
}

.skill-level-mining {
  color: #dbd7cd;
  user-select: text !important;
}

.skill-progress-bar-grey-mining {
  width: var(--width_bar);
  position: relative;
  height: 14px;
  left: var(--left_side_bar);
  bottom: /* 63.5px */116px;
  background: rgba(127,127,127,0.6);
  border-radius: 100px;
}

.skill-progress-bar-mining {
  width: var(--progress);
  position: relative;
  height: 14px;
  left: 22.5px;
  bottom: /*35.4px*/130px;
  background: var(--progress_bar_color);
  border-radius: 100px;
}

.skill-progress-text-mining {
  position: relative;
  left: calc(var(--left_side) - var(--min-text));
  bottom: 144px; /*14px*/
  color: white;
  font-weight: 600;
  font-size: 12px;
  width: 15%;
  line-height: 14px;
  text-shadow: 0px 0px 3px rgba(var(--background-rgb), 0.5);
}

/*Enchanting Skill*/

.skill-icon-enchanting {
  height: 40px;
  width: 40px;
  background-color: var(--skill_color);
  position: relative;
  bottom: 160px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 10;
}

.enchanting-sword {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 7px;
  bottom: 160px;
  left: 7px;
  transform: scale(0.2);
  transform-origin: top left;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.skill-name-enchanting {
  position: relative;
  left: 46px;
  color: white;
  bottom: 199px;
  font-weight: 500;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
}

.skill-level-enchanting {
  color: #dbd7cd;
  user-select: text !important;
}

.skill-progress-bar-grey-enchanting {
  width: var(--width_bar);
  position: relative;
  height: 14px;
  left: var(--left_side_bar);
  bottom: /* 63.5px */196px;
  background: rgba(127,127,127,0.6);
  border-radius: 100px;
}

.skill-progress-bar-enchanting {
  width: var(--progress);
  position: relative;
  height: 14px;
  left: 22.5px;
  bottom: /*35.4px*/210px;
  background: var(--progress_bar_color);
  border-radius: 100px;
}

.skill-progress-text-enchanting {
  position: relative;
  left: calc(var(--left_side) - var(--min-text));
  bottom: 224px; /*14px*/
  color: white;
  font-weight: 600;
  width: 15%;
  font-size: 12px;
  line-height: 14px;
  text-shadow: 0px 0px 3px rgba(var(--background-rgb), 0.5);
}

/*Farming Section*/

.skill-icon-farming {
  height: 40px;
  width: 40px;
  background-color: var(--skill_color);
  position: relative;
  bottom: 240px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 10;
}

.farming-sword {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 7px;
  bottom: 240px;
  left: 8px;
  transform: scale(0.2);
  transform-origin: top left;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.skill-name-farming {
  position: relative;
  left: 46px;
  color: white;
  bottom: 279px;
  font-weight: 500;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
}

.skill-level-farming {
  color: #dbd7cd;
  user-select: text !important;
}

.skill-progress-bar-grey-farming {
  width: var(--width_bar);
  position: relative;
  height: 14px;
  left: var(--left_side_bar);
  bottom: /* 63.5px */276px;
  background: rgba(127,127,127,0.6);
  border-radius: 100px;
}

.skill-progress-bar-farming {
  width: var(--progress);
  position: relative;
  height: 14px;
  left: 22.5px;
  bottom: /*35.4px*/290px;
  background: var(--progress_bar_color);
  border-radius: 100px;
}

.skill-progress-text-farming {
  position: relative;
  left: calc(var(--left_side) - var(--min-text));
  bottom: 304px; /*14px*/
  color: white;
  font-weight: 600;
  width: 15%;
  font-size: 12px;
  line-height: 14px;
  text-shadow: 0px 0px 3px rgba(var(--background-rgb), 0.5);
}

/*Foraging Section*/

.skill-icon-foraging {
  height: 40px;
  width: 40px;
  background-color: var(--skill_color);
  position: relative;
  bottom: 320px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 10;
}

.foraging-sword {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 7px;
  bottom: 320px;
  left: 7px;
  transform: scale(0.2);
  transform-origin: top left;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.skill-name-foraging {
  position: relative;
  left: 46px;
  color: white;
  bottom: 359px;
  font-weight: 500;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
}

.skill-level-foraging {
  color: #dbd7cd;
  user-select: text !important;
}

.skill-progress-bar-grey-foraging {
  width: var(--width_bar);
  position: relative;
  height: 14px;
  left: var(--left_side_bar);
  bottom: /* 63.5px */356px;
  background: rgba(127,127,127,0.6);
  border-radius: 100px;
}

.skill-progress-bar-foraging {
  width: var(--progress);
  position: relative;
  height: 14px;
  left: 22.5px;
  bottom: /*35.4px*/370px;
  background: var(--progress_bar_color);
  border-radius: 100px;
}

.skill-progress-text-foraging {
  position: relative;
  left: calc(var(--left_side) - var(--min-text));
  bottom: 384px; /*14px*/
  color: white;
  width: 15%;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-shadow: 0px 0px 3px rgba(var(--background-rgb), 0.5);
}
/*User Misc Statistics Section*/

/*User's Purse*/

.text-purse {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  line-height: 1.5;
  user-select: text !important;
  position: relative;
  bottom: 330px;
}

.purse-value {
  position: relative;
  font-weight: 700;
  margin-left: 2px;
  line-height: 1.5;
  user-select: text !important;
  color: white;
  bottom: 330px;
}

/*User's Bank*/

.text-bank {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  line-height: 1.5;
  user-select: text !important;
  position: relative;
  bottom: 330px;
  left: 5px;
}

.bank-value {
  position: relative;
  font-weight: 700;
  margin-left: 2px;
  line-height: 1.5;
  user-select: text !important;
  color: white;
  bottom: 330px;
  left: 5px;
}

/*Weight by Uhut*/
.text-weight {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  line-height: 1.5;
  user-select: text !important;
  position: relative;
  bottom: 330px;
  left: 10px;
}

.weight-value {
  position: relative;
  font-weight: 700;
  margin-left: 2px;
  line-height: 1.5;
  user-select: text !important;
  color: white;
  bottom: 330px;
  left: 10px;
}

/*User's Bits*/

.text-bits {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  line-height: 1.5;
  user-select: text !important;
  position: relative;
  bottom: 330px;
  left: 10px;
}

.bits-value {
  position: relative;
  font-weight: 700;
  margin-left: 2px;
  line-height: 1.5;
  user-select: text !important;
  color: white;
  bottom: 330px;
  left: 10px;
}

/* Stats*/

.health-stat {
  position: relative;
  margin-top: 0;
  color: #fb5858;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  bottom: 190px;
}

.health-text {
  position: relative;
  font-size: 16px;
  color: #fb5858;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
  left: 22px;
  user-select: text !important;
  bottom: 213px;
}

.health-value {
  position: relative;
  font-size: 14px;
  color: white;
  font-weight: 700;
  margin-left: 2px;
  left: 22px;
  line-height: 1.5;
  user-select: 1.5;
  user-select: text !important;
  bottom: 213px;
}

.heart-icon {
  position: relative;
  height: 20px;
  width: 20px;
  bottom: 190px;
  mask-image: url(../Resources/heart.svg);
  -webkit-mask-image: url(../Resources/heart.svg);
  background-color: #fb5858;
}

/*a*/

.defense-stat {
  position: relative;
  margin-top: 0;
  color: #5bda5b;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  bottom: 190px;
}

.defense-text {
  position: relative;
  font-size: 16px;
  color: #5bda5b;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
  left: 22px;
  user-select: text !important;
  bottom: 213px;
}

.defense-value {
  position: relative;
  font-size: 14px;
  color: white;
  font-weight: 700;
  margin-left: 2px;
  left: 22px;
  line-height: 1.5;
  user-select: 1.5;
  user-select: text !important;
  bottom: 213px;
}

.defense-icon {
  position: relative;
  height: 20px;
  width: 20px;
  bottom: 190px;
  mask-image: url(../Resources/shield.svg);
  -webkit-mask-image: url(../Resources/shield.svg);
  background-color: #5bda5b;
}

/*Strength Stat Section*/
.strength-stat {
  position: relative;
  margin-top: 0;
  color: #fb5858;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  bottom: 190px;
}

.strength-text {
  position: relative;
  font-size: 16px;
  color: #fb5858;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
  left: 22px;
  user-select: text !important;
  bottom: 213px;
}

.strength-value {
  position: relative;
  font-size: 14px;
  color: white;
  font-weight: 700;
  margin-left: 2px;
  left: 22px;
  line-height: 1.5;
  user-select: 1.5;
  user-select: text !important;
  bottom: 213px;
}

.strength-icon {
  position: relative;
  height: 20px;
  width: 20px;
  bottom: 190px;
  mask-image: url(../Resources/Strenght_Icon.svg);
  -webkit-mask-image: url(../Resources/Strenght_Icon.svg);
  background-color: #fb5858;
}

/*Speed Stat Section*/
.speed-stat {
  position: relative;
  margin-top: 0;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  font-weight: 600;
  bottom: 190px;
}

.speed-text {
  position: relative;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
  left: 22px;
  user-select: text !important;
  bottom: 213px;
}

.speed-value {
  position: relative;
  font-size: 14px;
  color: white;
  font-weight: 700;
  margin-left: 2px;
  left: 22px;
  line-height: 1.5;
  user-select: 1.5;
  user-select: text !important;
  bottom: 213px;
}

.speed-icon {
  position: relative;
  height: 20px;
  width: 20px;
  bottom: 190px;
  mask-image: url(../Resources/Speed_Icon.svg);
  -webkit-mask-image: url(../Resources/Speed_Icon.svg);
  background-color: #ffffff;
}

/*Nav Bar*/

.nav_bar {
  position: relative;
  top: calc(48px + env(safe-area-inset-top, 0));
  margin-left: calc(-1*30px);
  margin-right: calc(-1*30px);
  text-align: center;
  padding-bottom: 6px;
  white-space: nowrap;
  z-index: 25;
  bottom: 310px;
}

.nav_bar_line {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 378.5px;
  height: 2px;
  background-color: #0bca51;
  z-index: 2;
}

.nav_items_container {
  position: relative;
  width: 100%;
  padding-bottom: 6px;
  z-index: 3;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}

.nav-item {
  display: inline-block;
  padding: 8px;
  padding-top: 12px;
  font-size: 18px;
  padding-bottom: 12px;
  margin-left: 8px;
  font-weight: 600;
  transition: background-color .1s,color .1s;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.8);
}

/*Armor Section*/
.armors {
  display: block;
  position: relative;
  top: calc(-120px - env(safe-area-inset-top, 0));
}

.text-armor {
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  font-size: 24px;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
  text-decoration: underline 4px #0bca51;
  text-underline-position: under;
  color: #fff;
  bottom: 100px;
}

/*Slayer Section*/

.slayers {
  display: block;
  position: relative;
  top: calc(-120px - env(safe-area-inset-top, 0));
}

.text-slayer {
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  font-size: 24px;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
  text-decoration: underline 4px #0bca51;
  text-underline-position: under;
  color: #fff;
}

/*Armor Section*/
.text-not-equip-armor {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: 90px;
}

.piece-1 {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  vertical-align: top;
  margin-right: 8px;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
  cursor: context-menu;
  transition: box-shadow .2s ease-in-out;
  box-shadow: rgba(var(--text-rgb), 0) 0 0 0 0px inset;
  content-visibility: auto;
  background-color: var(--background-color);
  bottom: 100px;
}

.piece-2 {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  vertical-align: top;
  margin-right: 8px;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
  cursor: context-menu;
  transition: box-shadow .2s ease-in-out;
  box-shadow: rgba(var(--text-rgb), 0) 0 0 0 0px inset;
  content-visibility: auto;
  background-color: var(--background-color);
  bottom: 100px;
}

.piece-2-icon {
  width: 128px;
  height: 128px;
  background-size: 128px auto;
  background-repeat: no-repeat;
  background-position: center center !important;
  mask-size: 128px 128px;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 128px 128px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  position: absolute;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 15px;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transform-origin: center center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-image: var(--item-icon);
}

.piece-3 {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  vertical-align: top;
  margin-right: 8px;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
  cursor: context-menu;
  transition: box-shadow .2s ease-in-out;
  box-shadow: rgba(var(--text-rgb), 0) 0 0 0 0px inset;
  content-visibility: auto;
  background-color: var(--background-color);
  bottom: 100px;
}

.piece-3-icon {
  width: 128px;
  height: 128px;
  background-size: 128px auto;
  background-repeat: no-repeat;
  background-position: center center !important;
  mask-size: 128px 128px;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 128px 128px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  position: absolute;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 15px;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transform-origin: center center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-image: var(--item-icon);
}

.piece-4 {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  vertical-align: top;
  margin-right: 8px;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  user-select: none;
  cursor: context-menu;
  transition: box-shadow .2s ease-in-out;
  box-shadow: rgba(var(--text-rgb), 0) 0 0 0 0px inset;
  content-visibility: auto;
  background-color: var(--background-color);
  bottom: 100px;
}

.piece-4-icon {
  width: 128px;
  height: 128px;
  background-size: 128px auto;
  background-repeat: no-repeat;
  background-position: center center !important;
  mask-size: 128px 128px;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 128px 128px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  position: absolute;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  z-index: 15px;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transform-origin: center center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-image: var(--item-icon);
}

.revenant-slayer-boxing {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  min-width: min(330px, 100vw);
  padding: 20px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 25%;
  height: 175px;
  overflow: hidden;
  flex: 0 0;
}

.revenant-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #0bca51;
  background-color: rgba(0, 0, 0, 0.2);
  flex: 0 0;
  color: #fff;
}

.revenant-icon {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
  display: inline-block;
  background-size: 28px auto;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  background-image: url(/Resources/Revenant_Icon.webp);
}

.text-revenant {
  align-items: center;
  margin-top: auto;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  line-height: 1.5;
  text-align: center;
  user-select: text !important;
}

.revenant-value {
  font-weight: 700;
  margin-left: 2px;
  line-height: 1.5;
  user-select: text !important;
  color: rgba(255, 255, 255, 0.6);
}

.revenant-green-bar {
  width: 100%;
  padding-left: 0px;
  background: #0baa51;
  position: relative;
  top: 65px;
  height: 14px;
  border-bottom-left-radius: 12px;
}

.revenant-grey-bar {
  width: 0px;
  padding-left: 0px;
  background: rgba(127,127,127,0.6);
  position: relative;
  left: var(--left-side);
  bottom: 14.5px;
  height: 14px;
  border-bottom-right-radius: 12px;
}

.revenant-slayer-skill-text {
  position: relative;
  top: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  user-select: text !important;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: env(safe-area-inset-top, 0);
    padding-left: max(8px,env(safe-area-inset-left));
    padding-right: max(8px,env(safe-area-inset-right));
    z-index: 1000;
    line-height: 48px;
    overflow: hidden;
    overflow: clip;
  }

  .skystats-img {
    border-radius: 10px;
    width: 15%;
  }
}